<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            LocX Rental Car
        </a>

        <!-- Botões de navegação -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" *ngFor="let route of menuRoutes">
                <app-button [text]="route | titlecase" [color]="isActive(route) ? 'primary' : 'secondary'"
                    [icon]="getIcon(route)" (action)="navigate(route)">
                </app-button>
            </li>
        </ul>
    </div>
</nav>